*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141f35;
  background: linear-gradient(
    90deg,
    rgba(20, 31, 53, 1) 41%,
    rgba(7, 11, 20, 1) 100%
  );
  color: #fffff0;
  font-family: "Cormorant Garamond", serif;
}
